body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
h1 {
    margin-bottom: 20px;
}
form {
    margin-bottom: 20px;
}
input[type="file"] {
    margin-right: 10px;
}
button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
h3 {
    margin-top: 20px;
}
#dtypes_container, #summary-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#dtypes_container div, #summary-container p {
    margin: 5px 0;
}
#column-select, #search-input {
    margin-top: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#data-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#in-string {
    white-space: pre-wrap;
    word-wrap: break-word;
}
